* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.header {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
}

.logo {
    width: 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_items {
    list-style: none;
    display: flex;
}

.nav_item {
    margin-right: 700px;
}

.nav_link {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.content-container {
    text-align: center;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sgn {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.sgn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.sgn:focus {
    outline: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .sgn {
        font-size: 1rem;
    }
}
